html,
body {
    background-color: #d8ccc0;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.atz-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    width: 90px;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
@media (min-width: 320px) and (max-width: 410px) {
    .atz-logo img {
        padding:15px;
    }

    .book {
        position: relative;
        width: 355px;
        height: 490px;
        margin-left: 5px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        background-color: white;
        border-radius: 10px;
    } 
    
    .pages{
        margin-top: -10px;
        background-color: black;
        width: 320px;
        height: 480px;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 320px;
        padding: 0;
        width: 30px;
    }

    li{
        height: 60px;
        display: block;
        position: static;
        padding: 10px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-family: monospace;
        font-size: 8px;
        text-align: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    li.active{
        position: absolute;
        z-index: 9;
    }

    li#ateez{
       background-color: #f28e3f; 
    }

    li#hongjoong{
        z-index: 8;
        background-color: #f44e66;
        margin-top: 50px;
    }

    li#seonghwa{
       z-index: 7;
       margin-top: -30px;
        background-color: #f39bcb;
    }

    li#yunho{
        z-index: 6;
        margin-top: -30px;
        background-color: #8eb1f0;
    }

    li#yeosang{
        z-index: 5;
        margin-top: -30px;
        background-color: #f9db81;
    }

    li#san{
        z-index: 4;
        margin-top: -30px;
        background-color: #a8cc7f;
    }

    li#mingi{
        z-index: 3;
        margin-top: -30px;
        background-color: #9a9899;
    }

    li#wooyoung{
        z-index: 2;
        margin-top: -30px;
        background-color: #3c3c3c;
        color: white;
    }

    li#jongho{
        z-index: 1;
        margin-top: -30px;
        background-color: #a979cd;
    }

}

/* smartphones, Android phones, landscape iPhone */
@media (min-width: 410px) {
    .atz-logo img {
        padding:30px;
    }

    .book {
        position: relative;
        width: 400px;
        height: 600px;
        margin-left: 5px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        background-color: white;
        border-radius: 10px;
    } 
    
    .pages{
        margin-top: -10px;
        background-color: black;
        width: 365px;
        height: 590px;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 365px;
        padding: 0;
        width: 30px;
    }

    li{
        height: 70px;
        display: block;
        position: static;
        padding: 10px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-family: monospace;
        font-size: 8px;
        text-align: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    li.active{
        position: absolute;
        z-index: 9;
    }

    li#ateez{
       background-color: #f28e3f; 
    }

    li#hongjoong{
        z-index: 8;
        background-color: #f44e66;
        margin-top: 50px;
    }

    li#seonghwa{
       z-index: 7;
       margin-top: -30px;
        background-color: #f39bcb;
    }

    li#yunho{
        z-index: 6;
        margin-top: -30px;
        background-color: #8eb1f0;
    }

    li#yeosang{
        z-index: 5;
        margin-top: -30px;
        background-color: #f9db81;
    }

    li#san{
        z-index: 4;
        margin-top: -30px;
        background-color: #a8cc7f;
    }

    li#mingi{
        z-index: 3;
        margin-top: -30px;
        background-color: #9a9899;
    }

    li#wooyoung{
        z-index: 2;
        margin-top: -30px;
        background-color: #3c3c3c;
        color: white;
    }

    li#jongho{
        z-index: 1;
        margin-top: -30px;
        background-color: #a979cd;
    }
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {}